@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Nunito:wght@200&display=swap');

.home {
  position: fixed;
  left: 250px;
  right: 20px;
  height: 80%;
  color: rgb(88, 83, 83);
  background-color: #eaebf1;
  padding-left: 20px;
  margin-top: 20px;
  border-radius: 15px;
  font-family: 'ABeeZee', sans-serif;
  overflow-y: scroll;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.song-list {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
}

.song-playlist {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  align-items: center;
}

.song-playlist .song-name :hover {
  background: rgb(164, 162, 166);
  cursor: pointer;
  width: 700px;
  height: 40px;
}


.song-playlist .song-info {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.song-playlist h4 {
  text-align: left;
  padding-left: 10px;
}

.thumbnail1 {
  width: 280px;
  height: 280px;
  border-radius: 15px;
}

.like-icon {
  padding-left: 25px;
}

.artist {
  margin: 0;
  color: rgb(152, 152, 152);
  font-family: 'Nunito', sans-serif;
}

.liked-song-heading {
  display: flex;
  flex-direction: row;
  align-items:first baseline;
  
}

.liked-song-link {
  text-decoration: none;
  padding-left: 20px;
}

.liked-songs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.liked-songs .song-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 20px;
}

.liked-songs .artist {
  padding-top: 10px;
}

.liked-songs h4 {
  text-align: center;
  width: 200px;
  padding-left: 0px;
}

.liked-song-playlist {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
  float: left;
  width: 200px;
}

.thumbnail2 {
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 15px;
}


@media screen and (max-width: 992px) {
  .liked-song-playlist {
    width: 50%;
  }
}

button {
  background: none;
  border: none;
  color: rgb(88, 83, 83);
  font-size: medium;
}





