@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.sideNav {
  height: 100%;
  position: fixed;
  background-color: #dad9de;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 20px;
  font-family: 'ABeeZee', sans-serif;
}

.logo {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}

.logo h4 {
  color:rgb(88, 83, 83);
  font-family: 'ABeeZee', sans-serif;
  padding-left: 10px;
}

.sideNav img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.sideNav h5 {
  word-wrap: break-word;
  color: rgb(88, 83, 83);
}

.icon {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.icon a {
  text-decoration: none;
  font-size: 19px;
  color: rgb(88, 83, 83);
  transition: 0.3s;
}

.color-fill {
  padding-right: 10px;
  color: rgb(88, 83, 83);
}
