.user-profile {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 20px;
    align-items: center;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
